.error_page {
text-align: center;

}

.error_404 {
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
}

.error_text {
    color: gray;
    font-size: 18px;
    margin: 20px 0;
}

.error_img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
}