.input:focus {
    outline: none;
    border: gray solid 2px;
}

.superInput:focus {
    margin: 10px;

    border: 2px solid black;
    border-radius: 3px;
    background: white;
}

.spanClassName {
    color: #b9358c;
}

.errorInput {
    border: 2px solid black;
    border-radius: 3px;
    background: #fdaaaa;
}

.error {
    color: red;
    font-size: 18px;
    font-weight: 600;
}